@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/Ethiopia-Simien-Mountains.jpg');
  background-size: cover;
  background-position: center;
}

.about-us-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/entoto.jpg');
  background-size: cover;
  background-position: center;
}

.tours-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/Attractions-naturall-endemic-mammals-wolf-overland-ethiopia-tour.jpg');
  background-size: cover;
  background-position: center;
}

.sustainablity-background {
  background-image: url('../public/infographic760.png');
  margin-top: ;
  background-size: contain;
  /* background-position: ; */
}

.ethiopia-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/Attractions-naturall-endemic-mammals-MOUNTAIN-NYALA-overland-ethiopia-tour.jpg');
  background-size: cover;
  background-position: center;
}

.historical {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/lalibela.jpg');
}

.adventure {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/entoto\ hiking.jpg');
}
.trekking {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/Simien-Mountains-Ethiopia-563114-1920px-16x7.jpg');
}

.makeImageCircular {
  border-radius: 50%;
}
